/* Variables */
:root {
  --primary-bg-color: #f0f0f0;
  --secondary-bg-color: #eef1f6;
  --primary-text-color: #08bab6;
  --secondary-text-color: #020334;
}

/* Text Colors */
.text-primary {
  color: var(--primary-text-color) !important;
}
.text-secondary {
  color: var(--secondary-text-color) !important;
}

/* Background Colors */
.bg-primary {
  background-color: var(--primary-bg-color) !important;
}
.bg-secondary {
  background-color: var(--secondary-bg-color) !important;
}

/* Buttons */
.btn-primary {
  background-color: var(--primary-text-color) !important;
  border: none;
}
.btn-primary:hover {
  background-color: #069b98 !important;
}
.btn-outline-primary {
  color: var(--primary-text-color) !important;
  border-color: var(--primary-text-color) !important;
}
.btn-outline-primary:hover {
  color: #fff !important;
  background-color: var(--primary-text-color) !important;
}
.border-primary {
  border-color: var(--primary-text-color) !important;
}

/* Container */
.custom-container {
  max-width: 1600px !important;
  margin: 0 auto !important;
}

/* General Styles */
body {
  font-family: 'Tajawal', sans-serif;
}
a {
  text-decoration: none !important;
  color: #fff;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.section-padding {
  padding: 100px 0;
}

.section-heading {
  text-align: center;
  padding: 50px 0;
}

/* Background Image */
.bg-image {
  background-image: url('../public/hero-bg-image.webp');
  height: 60vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}
@media (max-width: 768px) {
  .bg-image {
    height: 100vh;
  }
}
.bg-image::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

/* Header */
header {
  background-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
}

/* Contact Nav */
.contact-nav {
  height: 60px;
}
.contact-nav svg {
  font-size: 22px;
  transition: all 0.2s;
}
@media (max-width: 768px) {
  .contact-nav {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px 0;
    height: auto;
  }
}
.vertical-line {
  width: 1px;
  height: 90%;
  background-color: #fff;
}
.contact-nav .social svg {
  cursor: pointer;
}
.contact-nav .social svg:hover,
.contact-nav .email-phone span:hover svg {
  scale: 1.2;
}

/* Navbar */
.navbar img {
  width: 100px;
}
.navbar ul li a {
  transition: all 0.2s ease-in-out;
}
.navbar ul li a:hover {
  color: var(--primary-text-color) !important;
}
@media (max-width: 1200px) {
  .nav-links {
    display: none !important;
  }
}

/* Drawer */
.drawer {
  width: 300px;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  position: fixed;
  top: 0;
  right: -300px;
  transition: right 0.3s ease;
  z-index: 999;
}
.drawer.open {
  right: 0;
}
.drawer img {
  width: 150px;
}
.drawer ul li {
  padding: 20px;
}
.drawer ul li:not(:last-child) {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.drawer ul li a {
  transition: all 0.2s ease-in-out;
  font-weight: bold;
}
.drawer ul li a:hover {
  color: var(--primary-text-color) !important;
}
.open .backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: -1;
}

/* Hero Section */

@media (min-width: 768px) {
  .hero h1 {
    font-size: 32px !important;
  }
}

/* Certifications Section */
.certifications-section::before,
.certifications-section::after {
  content: '';
  position: absolute;
  left: 0;
  width: 100%;
  height: 60px;
  background-size: auto;
  background-position: center;
  background-repeat: no-repeat;
}
.certifications-section::before {
  top: 0;
  background-image: url('../public/certification-section-banners-top.webp');
}
.certifications-section::after {
  bottom: 0;
  background-image: url('../public/certification-section-banners.webp');
}

.card-text {
  height: 170px;
}
.certifications {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

.certification-card {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

.certification-card.visible {
  opacity: 1;
  transform: translateY(0);
}

/* About Section */
.about-img {
  flex-shrink: 1;
  max-width: 40%;
  position: relative;
}
.about-img img {
  max-width: 100%;
  border-radius: 80px 80px 20px 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  height: 500px;
  object-fit: cover;
}
@media (max-width: 991px) {
  .about-img {
    display: none !important;
  }
}
.about-img::before {
  content: '';
  position: absolute;
  top: 30px;
  left: 30px;
  width: 100%;
  height: 100%;
  z-index: -1;
  border-radius: 80px 80px 20px 20px;
  border: 4px solid var(--primary-text-color);
}
#about-section ul li {
  position: relative;
  margin-bottom: 20px;
}
#about-section ul li::before {
  content: '\f00c';
  font-family: 'FontAwesome';
  font-weight: 900;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -30px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: var(--primary-text-color);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  font-size: 20px;
}

/* Testimonials Section */
.testimonials-bg {
  background-image: url('../public/testimonials-section-background.webp');
  height: 350px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* Last News Section */
.lastNews-section-cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

/* Footer */
.footer {
  background-color: #000;
  color: #fff;
  padding: 40px 0;
}
.footer a {
  transition: all 0.2s ease-in-out;
}
.footer a:hover {
  color: var(--primary-text-color);
}
.footer .social-icons a {
  color: #fff;
  border-radius: 50%;
  border: 1px solid #fff;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
}
.footer .social-icons a:hover {
  color: var(--primary-text-color);
  border-color: var(--primary-text-color);
}
.footer img {
  width: 150px;
}
